{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Who's that girl?</title>
</head>
<body>
    <h1>S'fundo Nonzaliseko Matu</h1>
    <h5>S'fundo Matu: A short bio</h5>
    <p>If 20 year old S'fundo could only use one word to describe herself? It would definitely be daring. Hailing all the way
        from a small town of Empangeni, KwaZulu Natal, but spending most of her childhood interchanging between Gauteng and
        KwaZulu Natal, change is something that S'fundo is well-acquainted with. This is what has shaped her ability to adapted
        so easily in any environment that she may find herself in. She knows how to make do with what she has.
    </p>
    <P>S'fundo's friends would describe her as a talkative, empathetic introvert. Her knack for talking to people
        has made her a lot of friends along the way who find solace in her, but in her perfect world, she is in her room, either
        practicing a dance routine, or reading a book. In public, you'd find her quietly observing a room, but if you find her
        in her comfort zone, most likely with her friends, she would probably be the most talkative, and the most energetic
        person in the said room.
    </P>
    <p>S'fundo is known to dabble in a lot of different hobbies. She plays netball, she sings, she dances, and a hobby that she
        wants to take on next is learning how to play the keyboard, and how to play the accoustic guitar. An aspiration of hers 
        is to one day become a director, making films that she hopes will shape young black girls' high esteem of themselves,
        and show them that they too, just like S'fundo learnt in her teen years, can be daring.
    </p>
    <h5>Contact details</h5>
    <p>Full Name: S'fundo Nonzaliseko Matu</p>
    <p>Contact Number: 083 463 8394</p>
    <p>Email Address: sfundomatuu@gmail.com</p>
    <p>LinkedIn: https://www.linkedin.com/login</p>
    <img src="{% static 'assets/4bdb91cb-8b9e-44aa-a531-84150dc5bee7.jpg' %}">
    <br>
    <h5>Skills and Competencies</h5>
    <p>NSC Certificate (2 Distinctions): Parktown High School for Girls | 2017 - 2021</p>
    <p>Digital Marketing certificate: Hubspot Academy | 2024</p>
    <p>Tutoring: Curiosity Hub | 2023 - present</p>
    <br>
    <h5>Other:</h5>
    <ul>
        <p>Problem-Solving</p>
            <p>Computer Literacy</p>
            <p>Strong Communication</p>
            <p>Basic Digital Marketing</p>
        </p>
    </ul>

    <label for="site-search">CV search:</label>
    <input type="search" id="site-search" name="q" />
    <button>Submit</button>
    <br>
    <br>

    <form action="" method="post">
        <label>Name</label>
        <input type="text"><br>
        <label>Email</label>
        <input type="email"><br>
        <label>Message</label>
        <input type="text"><br>
        <button>Submit</button>
</body>
</html>